.footer {
  background-color: #0B2C4D; /* dark blue */
  color: #ffffff;
}

.footer-container {
  max-width: 1200px;
 
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-brand h2 {
  margin-bottom: 8px;
  font-size: 24px;
}

.footer-brand p {
  font-size: 14px;
  color: #cfd8e3;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
 
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-links li a:hover,
.footer-links li a.active {
  color: #f4c430; /* gold hover */
}

.footer-bottom {
  text-align: center;
  padding: 15px 10px;
  background-color: #08223a;
  font-size: 14px;
  color: #cfd8e3;
}



