.hero-container{
  background-image: url("\Users\HP\Desktop\Lucy college\lucy-college\src\assets\homebackground.jpg");
  background-size: cover;
  height: 550px;
  min-height: 550px;
 
}


.hero-text{
    max-width: 600px;
    line-height: 2;
    margin:70px 50px;
    padding: 70px 70px;
    color: #fff;
    
}
.hero-text h1{
    font-size: 2.5em;;
}
.hero-text p{
    max-width: 700px;
}

