.nav-bar{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #ffffff;
    padding: 4px 0;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    color: #0B2C4D;
}
.heading-container{
    display: flex;
    align-items: center;
    gap:10px;
}
.logo{
   width: 80px; 
}
.nav-bar ul li{
    display:inline-block;
    list-style: none;
    margin:5px 20px;
    cursor: pointer;
    font-size:1.2rem;
}


